html body {
  display: inherit;
  z-index: 1;
  background-color: #626262;
  margin: 0 auto; }
  html body .MenuIcon {
    font-size: 200%;
    padding: 1%;
    color: white;
    position: fixed;
    z-index: 9; }
  html body .Menu {
    background-color: black;
    opacity: 50%;
    margin-top: 0;
    padding-bottom: .5%;
    padding-top: 1%;
    width: 12%;
    min-width: 200px;
    height: 200%;
    position: fixed;
    display: none;
    z-index: 10; }
    html body .Menu .fas {
      color: white;
      font-size: 200%;
      padding-left: 10%; }
    html body .Menu nav ul {
      display: flex;
      justify-content: left;
      flex-direction: column; }
      html body .Menu nav ul li {
        display: inline;
        font-size: 150%;
        padding: 2%; }
        html body .Menu nav ul li a {
          font-family: 'Open Sans', sans-serif; }
        html body .Menu nav ul li .DropdownElements {
          font-size: 50%;
          display: none; }
          html body .Menu nav ul li .DropdownElements nav ul {
            padding-left: 0; }
        html body .Menu nav ul li a {
          color: darkgrey;
          text-decoration: none;
          opacity: 50%;
          font-family: 'Open Sans', sans-serif;
          font-size: 90%;
          font-weight: bold; }
          html body .Menu nav ul li a:hover {
            color: white;
            opacity: 50%; }
  html body .SlideHorizontal1 {
    width: 98%;
    max-width: 2000px;
    position: relative;
    margin: 0;
    margin-bottom: -1.5%; }
    html body .SlideHorizontal1 .slideshow-container {
      width: 100%;
      max-width: 2000px;
      position: relative;
      margin: 0; }
      html body .SlideHorizontal1 .slideshow-container .mySlides {
        display: none; }
        html body .SlideHorizontal1 .slideshow-container .mySlides img {
          vertical-align: middle;
          width: 102%;
          max-width: 2000px; }
        html body .SlideHorizontal1 .slideshow-container .mySlides .text {
          color: #f2f2f2;
          padding: 8px 12px;
          position: absolute;
          top: 20%;
          left: 20%;
          width: 50%;
          text-align: left; }
          html body .SlideHorizontal1 .slideshow-container .mySlides .text h2 {
            font-size: 400%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            margin: 0 auto;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: dimgrey; }
          html body .SlideHorizontal1 .slideshow-container .mySlides .text p {
            font-size: 150%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black; }
      html body .SlideHorizontal1 .slideshow-container .prev, html body .SlideHorizontal1 .slideshow-container .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0; }
        html body .SlideHorizontal1 .slideshow-container .prev:hover, html body .SlideHorizontal1 .slideshow-container .next:hover {
          background-color: rgba(0, 0, 0, 0.8); }
      html body .SlideHorizontal1 .slideshow-container .next {
        right: -2%;
        border-radius: 3px 0 0 3px; }
    html body .SlideHorizontal1 .DotGroup {
      position: absolute;
      left: 50%;
      bottom: 5%; }
      html body .SlideHorizontal1 .DotGroup .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease; }
      html body .SlideHorizontal1 .DotGroup .active {
        background-color: #717171; }
      html body .SlideHorizontal1 .DotGroup .active:hover, html body .SlideHorizontal1 .DotGroup .dot:hover {
        background-color: #717171; }
    html body .SlideHorizontal1 .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s; }
@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
    @media only screen and (max-width: 300px) {
      html body .SlideHorizontal1 .prev, html body .SlideHorizontal1 .next, html body .SlideHorizontal1 .text {
        font-size: 11px; } }
  html body .Text1 {
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    position: center;
    min-height: 300px;
    max-height: 600px;
    margin-top: -.4%;
    display: flex;
    justify-content: space-around; }
    html body .Text1 h2 {
      margin: 0;
      margin-right: 10%;
      padding-left: 7%;
      padding-top: 2%;
      font-size: 400%;
      font-family: 'Open Sans', sans-serif;
      color: #2c2c2c;
      font-weight: 500; }
    html body .Text1 p {
      color: #626262;
      padding-top: 2%;
      padding-right: 3%;
      font-size: 150%;
      font-family: 'Open Sans', sans-serif;
      font-weight: 350; }
  html body .Text2 {
    background-color: #fafafa;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 2000px;
    height: 100%;
    min-height: 300px;
    max-height: 600px; }
    html body .Text2 .FA1 {
      padding: 5%;
      padding-top: 5.4%;
      padding-bottom: 2%; }
      html body .Text2 .FA1 i {
        font-size: 400%;
        color: dimgrey; }
      html body .Text2 .FA1 h2 {
        padding-top: 3%;
        margin-bottom: 2.5%;
        font-size: 150%;
        font-family: 'Open Sans', sans-serif;
        color: #2c2c2c;
        font-weight: 600; }
      html body .Text2 .FA1 p {
        margin-top: 2.5%;
        color: #626262;
        font-size: 125%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 350; }
    html body .Text2 .FA2 {
      padding: 5%;
      padding-left: 0%;
      padding-bottom: 2%; }
      html body .Text2 .FA2 i {
        font-size: 400%;
        color: dimgrey; }
      html body .Text2 .FA2 h2 {
        padding-top: 3%;
        margin-bottom: 2.5%;
        font-size: 150%;
        font-family: 'Open Sans', sans-serif;
        color: #2c2c2c;
        font-weight: 600; }
      html body .Text2 .FA2 p {
        margin-top: 2.5%;
        color: #626262;
        font-size: 125%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 350; }
    html body .Text2 .FA3 {
      padding: 5%;
      padding-left: 0%;
      padding-bottom: 2%; }
      html body .Text2 .FA3 i {
        font-size: 400%;
        color: dimgrey; }
      html body .Text2 .FA3 h2 {
        padding-top: 3%;
        margin-bottom: 2.5%;
        font-size: 150%;
        font-family: 'Open Sans', sans-serif;
        color: #2c2c2c;
        font-weight: 600; }
      html body .Text2 .FA3 p {
        margin-top: 2.5%;
        color: #626262;
        font-size: 125%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 350; }
  html body .SlideVertical1 {
    display: flex;
    position: inherit;
    z-index: -5;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    min-height: 500px;
    max-width: 2000px;
    max-height: 1000px;
    background-color: rgba(255, 255, 255, 0.92); }
    html body .SlideVertical1 .Text3 {
      padding-left: 5%;
      padding-right: 3%; }
      html body .SlideVertical1 .Text3 h2 {
        padding-top: 3%;
        font-size: 250%;
        font-family: 'Open Sans', sans-serif;
        color: #2c2c2c;
        font-weight: 600; }
      html body .SlideVertical1 .Text3 p {
        color: #626262;
        font-size: 125%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 350; }
    html body .SlideVertical1 .PictureSlide {
      background-image: url("https://www.wallpaperu3.com/wp-content/mywallpapers/water-drops-on-apple-wallpaper-4k.jpg");
      min-height: 100%;
      min-width: 40%;
      background-attachment: fixed;
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5%;
      margin: 2%;
      background-size: 85%;
      margin-right: 7%; }
  html body .Footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #1a1a1a;
    max-width: 2000px; }
    html body .Footer ul {
      list-style-type: none; }
      html body .Footer ul h3 {
        font-size: 125%;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: 400; }
      html body .Footer ul li {
        margin-top: 10%; }
        html body .Footer ul li a {
          font-family: 'Open Sans', sans-serif;
          text-decoration: none;
          color: white; }
          html body .Footer ul li a:hover {
            color: darkgrey; }

/*# sourceMappingURL=Main.css.map */
